In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-4.0.1.tar.gz (434.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 434.2/434.2 MB 37.2 MB/s eta 0:00:0000:0100:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting py4j==0.10.9.9 (from pyspark)
  Downloading py4j-0.10.9.9-py2.py3-none-any.whl.metadata (1.3 kB)
Downloading py4j-0.10.9.9-py2.py3-none-any.whl (203 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (pyproject.toml) ... done
  Created wheel for pyspark: filename=pyspark-4.0.1-py2.py3-none-any.whl size=434813860 sha256=728bed2ecd81d98cca24c35f1ecf9aeca4e95ba262398358175feb7cb580b436
  Stored in directory: /home/codespace/.cache/pip/wheels/31/9f/68/f89fb34ccd886909be7d0e390eaaf97f21efdf540c0ee8dbcd
Successfully built pyspark
Installing collected packages: py4j, pyspark
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pyspark]m1/2 [pyspark]
Successfully installed py4j-0.10.9.9 pyspark-4.0.1

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [3]:
import pyspark

In [4]:
pyspark.__version__

'4.0.1'

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder \
.appName('Test') \
.master('local[*]') \
.config('spark.driver.memory','2g') \
.getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/10/06 18:06:01 WARN Utils: Your hostname, codespaces-c6c251, resolves to a loopback address: 127.0.0.1; using 10.0.4.184 instead (on interface eth0)
25/10/06 18:06:01 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/10/06 18:06:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
data = [('Mazen',25),('Omar',22)]
columns = ['name','age']
df = spark.createDataFrame(data,columns)

In [13]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [ ]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
    StructField('name', StringType(), True),
    StructField('age', IntegerType(), True),
])

df = spark.createDataFrame(data, schema)

In [12]:
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)

In [23]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

schema = StructType([
    StructField('name', StringType(), True),
    StructField('age', IntegerType(), True),
    StructField('grad_year', IntegerType(), True),
    StructField('grade', StringType(), True)
])

data = [
    ("Alice", 22, 2023, "A"),
    ("Bob", 24, 2022, "B"),
    ("Charlie", 23, 2023, "A+")
]

df = spark.createDataFrame(data, schema)
df.show()

+-------+---+---------+-----+
|   name|age|grad_year|grade|
+-------+---+---------+-----+
|  Alice| 22|     2023|    A|
|    Bob| 24|     2022|    B|
|Charlie| 23|     2023|   A+|
+-------+---+---------+-----+

In [25]:
from pyspark.sql.functions import lit

df_modified = df.withColumn('country', lit('egypt')).show()

+-------+---+---------+-----+-------+
|   name|age|grad_year|grade|country|
+-------+---+---------+-----+-------+
|  Alice| 22|     2023|    A|  egypt|
|    Bob| 24|     2022|    B|  egypt|
|Charlie| 23|     2023|   A+|  egypt|
+-------+---+---------+-----+-------+

In [26]:
df = spark.read.csv('celestial_data.csv',header=True,inferSchema=True)
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- type: string (nullable = true)
 |-- distance: double (nullable = true)
 |-- mass: double (nullable = true)
 |-- radius: integer (nullable = true)

In [17]:
df.show()

+---+--------+------------+--------+--------+------+
| id|    name|        type|distance|    mass|radius|
+---+--------+------------+--------+--------+------+
|  1|     Sun|        Star|     0.0|1.989E30|695700|
|  2|   Earth|      Planet|     1.0|5.972E24|  6371|
|  3|    Moon|        Moon| 0.00257| 7.35E22|  1737|
|  4|    Mars|      Planet|   1.524|6.417E23|  3389|
|  5| Jupiter|      Planet|     5.2|1.898E27| 69911|
|  6|  Saturn|      Planet|     9.5|5.683E26| 58232|
|  7|  Uranus|      Planet|    19.8|8.681E25| 25362|
|  8| Neptune|      Planet|    30.1|1.024E26| 24622|
|  9|   Pluto|Dwarf Planet|    39.5|1.309E22|  1188|
| 10|    Eris|Dwarf Planet|    67.8| 1.66E22|  1163|
| 11|  Haumea|Dwarf Planet|    43.1|4.006E21|   816|
| 12|Makemake|Dwarf Planet|    45.8|  3.1E21|   715|
| 13|   Ceres|    Asteroid|    2.77|9.393E20|   473|
| 14|   Vesta|    Asteroid|    2.36| 2.59E20|   262|
| 15|  Pallas|    Asteroid|    2.77| 2.11E20|   272|
| 16|  Hygiea|    Asteroid|    3.14| 8.32E19|   215|
| 17|      Io|        Moon|     5.2| 8.93E22|  1821|
| 18|  Europa|        Moon|     5.2|  4.8E22|  1560|
| 19|Ganymede|        Moon|     5.2| 1.48E23|  2634|
| 20|Callisto|        Moon|     5.2| 1.08E23|  2410|
+---+--------+------------+--------+--------+------+
only showing top 20 rows

In [21]:
from pyspark.sql.functions import col
planets_df = df.filter(col("type") == "Planet")
planets_df.show()

+---+-------+------+--------+--------+------+
| id|   name|  type|distance|    mass|radius|
+---+-------+------+--------+--------+------+
|  2|  Earth|Planet|     1.0|5.972E24|  6371|
|  4|   Mars|Planet|   1.524|6.417E23|  3389|
|  5|Jupiter|Planet|     5.2|1.898E27| 69911|
|  6| Saturn|Planet|     9.5|5.683E26| 58232|
|  7| Uranus|Planet|    19.8|8.681E25| 25362|
|  8|Neptune|Planet|    30.1|1.024E26| 24622|
| 39|Mercury|Planet|    0.39|3.301E23|  2440|
| 40|  Venus|Planet|    0.72|4.867E24|  6052|
+---+-------+------+--------+--------+------+

In [19]:
df.select('id','name').show()

+---+--------+
| id|    name|
+---+--------+
|  1|     Sun|
|  2|   Earth|
|  3|    Moon|
|  4|    Mars|
|  5| Jupiter|
|  6|  Saturn|
|  7|  Uranus|
|  8| Neptune|
|  9|   Pluto|
| 10|    Eris|
| 11|  Haumea|
| 12|Makemake|
| 13|   Ceres|
| 14|   Vesta|
| 15|  Pallas|
| 16|  Hygiea|
| 17|      Io|
| 18|  Europa|
| 19|Ganymede|
| 20|Callisto|
+---+--------+
only showing top 20 rows

In [22]:
df.filter(col("type") == "Planet").select('id','name').show()

+---+-------+
| id|   name|
+---+-------+
|  2|  Earth|
|  4|   Mars|
|  5|Jupiter|
|  6| Saturn|
|  7| Uranus|
|  8|Neptune|
| 39|Mercury|
| 40|  Venus|
+---+-------+

In [28]:
#add col if mass > a number we write "huge" otherwise "small"
from pyspark.sql.functions import when

df = df.withColumn(
    "size",
    when(col("mass") > 2.59E20, "huge").otherwise("small")
)
df.show()

+---+--------+------------+--------+--------+------+-----+
| id|    name|        type|distance|    mass|radius| size|
+---+--------+------------+--------+--------+------+-----+
|  1|     Sun|        Star|     0.0|1.989E30|695700| huge|
|  2|   Earth|      Planet|     1.0|5.972E24|  6371| huge|
|  3|    Moon|        Moon| 0.00257| 7.35E22|  1737| huge|
|  4|    Mars|      Planet|   1.524|6.417E23|  3389| huge|
|  5| Jupiter|      Planet|     5.2|1.898E27| 69911| huge|
|  6|  Saturn|      Planet|     9.5|5.683E26| 58232| huge|
|  7|  Uranus|      Planet|    19.8|8.681E25| 25362| huge|
|  8| Neptune|      Planet|    30.1|1.024E26| 24622| huge|
|  9|   Pluto|Dwarf Planet|    39.5|1.309E22|  1188| huge|
| 10|    Eris|Dwarf Planet|    67.8| 1.66E22|  1163| huge|
| 11|  Haumea|Dwarf Planet|    43.1|4.006E21|   816| huge|
| 12|Makemake|Dwarf Planet|    45.8|  3.1E21|   715| huge|
| 13|   Ceres|    Asteroid|    2.77|9.393E20|   473| huge|
| 14|   Vesta|    Asteroid|    2.36| 2.59E20|   262|small|
| 15|  Pallas|    Asteroid|    2.77| 2.11E20|   272|small|
| 16|  Hygiea|    Asteroid|    3.14| 8.32E19|   215|small|
| 17|      Io|        Moon|     5.2| 8.93E22|  1821| huge|
| 18|  Europa|        Moon|     5.2|  4.8E22|  1560| huge|
| 19|Ganymede|        Moon|     5.2| 1.48E23|  2634| huge|
| 20|Callisto|        Moon|     5.2| 1.08E23|  2410| huge|
+---+--------+------------+--------+--------+------+-----+
only showing top 20 rows

In [30]:
from pyspark.sql.functions import col

# Create a condition for checking nulls in any column
null_conditions = [col(c).isNull() for c in df.columns]
from functools import reduce
from pyspark.sql.functions import expr

null_rows = df.filter(reduce(lambda x, y: x | y, null_conditions))
null_rows.show()

+---+----+----+--------+----+------+----+
| id|name|type|distance|mass|radius|size|
+---+----+----+--------+----+------+----+
+---+----+----+--------+----+------+----+

In [31]:
# Remove rows with any null values
clean_df = df.na.drop()
clean_df.show()

+---+--------+------------+--------+--------+------+-----+
| id|    name|        type|distance|    mass|radius| size|
+---+--------+------------+--------+--------+------+-----+
|  1|     Sun|        Star|     0.0|1.989E30|695700| huge|
|  2|   Earth|      Planet|     1.0|5.972E24|  6371| huge|
|  3|    Moon|        Moon| 0.00257| 7.35E22|  1737| huge|
|  4|    Mars|      Planet|   1.524|6.417E23|  3389| huge|
|  5| Jupiter|      Planet|     5.2|1.898E27| 69911| huge|
|  6|  Saturn|      Planet|     9.5|5.683E26| 58232| huge|
|  7|  Uranus|      Planet|    19.8|8.681E25| 25362| huge|
|  8| Neptune|      Planet|    30.1|1.024E26| 24622| huge|
|  9|   Pluto|Dwarf Planet|    39.5|1.309E22|  1188| huge|
| 10|    Eris|Dwarf Planet|    67.8| 1.66E22|  1163| huge|
| 11|  Haumea|Dwarf Planet|    43.1|4.006E21|   816| huge|
| 12|Makemake|Dwarf Planet|    45.8|  3.1E21|   715| huge|
| 13|   Ceres|    Asteroid|    2.77|9.393E20|   473| huge|
| 14|   Vesta|    Asteroid|    2.36| 2.59E20|   262|small|
| 15|  Pallas|    Asteroid|    2.77| 2.11E20|   272|small|
| 16|  Hygiea|    Asteroid|    3.14| 8.32E19|   215|small|
| 17|      Io|        Moon|     5.2| 8.93E22|  1821| huge|
| 18|  Europa|        Moon|     5.2|  4.8E22|  1560| huge|
| 19|Ganymede|        Moon|     5.2| 1.48E23|  2634| huge|
| 20|Callisto|        Moon|     5.2| 1.08E23|  2410| huge|
+---+--------+------------+--------+--------+------+-----+
only showing top 20 rows

In [32]:
# Filter rows where 'mass' column is null
null_mass_rows = df.filter(col("mass").isNull())
null_mass_rows.show()

+---+----+----+--------+----+------+----+
| id|name|type|distance|mass|radius|size|
+---+----+----+--------+----+------+----+
+---+----+----+--------+----+------+----+

In [35]:
df.createOrReplaceTempView("celestial_objects")
result = spark.sql("""
    SELECT name, type, mass 
    FROM celestial_objects 
    WHERE type = 'Planet'
""")
result.show()

+-------+------+--------+
|   name|  type|    mass|
+-------+------+--------+
|  Earth|Planet|5.972E24|
|   Mars|Planet|6.417E23|
|Jupiter|Planet|1.898E27|
| Saturn|Planet|5.683E26|
| Uranus|Planet|8.681E25|
|Neptune|Planet|1.024E26|
|Mercury|Planet|3.301E23|
|  Venus|Planet|4.867E24|
+-------+------+--------+

In [36]:
result.write.mode('overwrite') \
    .option('header', 'true') \
    .option('delimiter', ',') \
    .csv('output_data.csv')

In [37]:
spark.stop()